.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #fff;
    bottom: 0;
    text-align: center;
}

.footer > p {
    color: gray;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
}